<div class="data-form">
    <form class="form-signin" action="<%=`/restaurants/${restaurant._id}/update?_method=PUT`%>" method="POST">
      <h2 class="form-signin-heading">Edit restaurant:</h2>
      <label for="inputTitle">Title</label>
      <input type="text" name="title" id="inputTitle" class="form-control" value="<%= restaurant.title %>" placeholder="Title" autofocus>
      <label for="inputDescription">Description</label>
      <input type="text" name="description" id="inputDescription" class="form-control" value="<%= restaurant.description %>" placeholder="Description">
      <label for="inputCost">Cost</label>
      <input type="text" name="cost" id="inputCost" pattern="\d*" class="form-control" value="<%= restaurant.cost %>" placeholder="Cost" required>
      <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
    </form>
  </div>
  